/********************************************TAG ELEMENT *****************************************************************/



h1{
    color:#66BFBF;
}
h3{
    color:#66BFBF;
}




/********************************************CLASS ELEMENT ***************************************************************/
.Chicken
{
    background-color:green;
}

.Semi
{
    background-color: red;
}