*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

.blogContainer{
   max-width:95vw;
   padding:2rem 1rem;
   margin:0 auto;
  

}

.header_heading{
 text-align:center;
 margin-bottom:0.7rem;
 font-size:1.5rem;
 font-weight:500;
 line-height:2rem;  
}
.header_desc{
    max-width:410px;
    color:rgb(102, 97, 97);
    text-align:center;
    margin:0 auto;
}
.card_container{
    display: grid;
    gap: 1.5rem;
    /* grid-template-rows: repeat(1, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    justify-content: center;
    margin-top:20px;
}

.card_image_container img{
   border:1px solid rgb(184, 175, 175);
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   margin-bottom:20px;
}
.card_title_container{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
}

.Card_hover:hover h2{
 color: rgb(199, 52, 123);
}
.card_desc{
    color:rgb(152, 143, 143);
    font-size:1.1rem;
    margin-top:10px;
}
.cardFooter{
    display:flex;
    justify-content: space-between;
    margin:20px;
}
.author_info_container{
    display:flex;
    justify-content: space-evenly;
   
}
.footer_img{
    height:2rem;
    width:2rem;
    border:2px solid rgb(140, 132, 132);
    background-color: rgb(244, 235, 235);
    border-radius:20px;
    overflow: hidden;
}
.author_desc{
    display:flex;
    flex-direction:column;
    margin:0 auto;
}
.author_tag_container{
    font-size:0.9rem;
    color:rgb(127, 114, 114);
    border:2px solid rgb(219, 212, 212);
    display:flex;
    align-items:center;
    justify-content: center;
    height:1.5rem;
    width:5rem;
    margin-top:10px;
}
.card_container_content{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(233, 224, 224);
    border-radius: 8px;
}
.card_container:hover img{
    transform: scale(1.1);
    transition:all 0.4s linear 0s;
}